.App {
  text-align: center;
}



.App-header {
  background-color: #032055;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

i:hover{
  cursor: pointer;
}

.Display {
  width: 600px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.SetupBlock {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.Block {
  display: flex;
  justify-content: space-around;
}

.Timer {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 200px;
  border: 2px solid rgb(14, 86, 128);
  border-radius: 15px;
}